.app {
  text-align: center;
  display: grid;
  /* min-height: 100vh; */
  grid-template-rows: auto 1fr auto;
  max-width: 400px;
  margin: 0 auto;
  gap: 32px;
  background-color: rgb(252, 247, 247);
  border-radius: 40px;
}

.app__main {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.divider {
  border: none;
  width: 100%;
  margin: 0px;
  height: 1px;
  background: rgb(215, 211, 211);
}
